@import "tailwindcss";

@font-face {
  font-family: "Signika";
  src: url("/fonts/Signika-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Signika";
  src: url("/fonts/Signika-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  @apply bg-gradient-to-r from-[#0a0a0a] via-[#141e30] to-[#243b55] text-white;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Signika", sans-serif;
}

html {
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

/* Tailwind utility classes */
.font-signika {
  font-family: "Signika", sans-serif;
}

.font-signika-bold {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
